{% extends "base.html" %}
{% block right_heading %}
      <form class="d-flex" role="search" method="POST" action="{% url 'recipes:authors_delete' object.id %}">
          {% csrf_token %}
          {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
          <button class="btn text-nowrap {% if books or not user.is_authenticated %}disabled btn-outline-secondary{% else %}btn-outline-danger{% endif %}" type="submit">Delete Author</button>
      </form>
{% endblock %}
{% block content %}
<h1>{{object.name}}</h1>
<ul class="list-group">
{% for book in books|dictsort:"title" %}
    <li class="list-group-item"> <a href="{% url 'recipes:books_detail' book.id %}">{{book.title}}</a>
{% endfor %}
</ul>
{% endblock %}