{% extends "base.html" %}
{% block right_heading %}
      <form class="d-flex" role="search" method="POST" action="{% url 'recipes:authors_create' %}">
          {% csrf_token %}
          {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
          <input name="name" class="form-control me-2" type="text" id="id_name" required placeholder="Author">
          <button class="btn btn-outline-secondary text-nowrap {% if not user.is_authenticated%}disabled{% endif %}" type="submit">Add Author</button>
      </form>
{% endblock %}
{% block content %}
<ul class="list-group">{% for author in object_list|dictsort:"name" %}
    <li class="list-group-item"> <a href="{% url 'recipes:authors_detail' author.id %}">{{author.name}}</a>
{% endfor %}
</ul>
{% endblock %}