{% extends "base.html" %}
{% block right_heading %}
{% endblock %}
{% block content %}
{% load widget_tweaks %}
<h1>Create Book</h1>
<form class="d-flex row g-3" method="POST" action="{% url 'recipes:books_create' %}">
    {% csrf_token %}
    {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
    <div class="mb-3 form-floating">
        {% render_field form.title|add_class:"form-control" %}
        {% render_field form.title|add_label_class:"mb-3" %}
    </div>
    <div class="mb-3">{% render_field form.authors %}</div>
    <button class="btn text-nowrap btn-outline-secondary" type="submit">Create Book</button>
</form>
{% endblock %}