{% extends "base.html" %}
{% block right_heading %}
  <form class="d-flex" role="search" method="POST" action="{% url 'recipes:books_delete' object.id %}">
      {% csrf_token %}
      {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
      <button class="btn text-nowrap {% if recipes %}disabled btn-outline-secondary{% else %}btn-outline-danger{% endif %}" type="submit">Delete Book</button>
  </form>
{% endblock %}
{% block content %}
<h1>{{object.title}}</h1>
{% if object.authors.all %}
<p class="lead">By {% for author in object.authors.all %}<a href="{% url 'recipes:authors_detail' author.id %}">{{author}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}
<ul class="list-group">
{% for recipe in recipes|dictsort:"name" %}
    <li class="list-group-item"> <a href="{% url 'recipes:recipes_detail' recipe.id %}">{{recipe.name}}</a>
{% endfor %}
</ul>
{% endblock %}