{% extends "base.html" %}
{% block right_heading %}
{% if user.is_authenticated %}
{% if recipes %}
    <a href="{% url 'recipes:recipes_create_book' book_id=object.id %}" class="btn btn-outline-secondary text-nowrap">Add Recipe</a>
{% else %}
  <form class="d-flex" role="search" method="POST" action="{% url 'recipes:books_delete' object.id %}">
      {% csrf_token %}
      {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
      <button class="btn text-nowrap btn-outline-danger" type="submit">Delete Book</button>
  </form>
{% endif %}
{% endif %}
{% endblock %}
{% block content %}
<h1>{{object.title}}</h1>
{% if object.authors.all %}
<p class="lead">By {% for author in object.authors.all %}<a href="{% url 'recipes:authors_detail' author.id %}">{{author}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
{% endif %}
<h2 class="p-3">{{recipes.count}} Recipes</h2>

{% if recipes.count > 10 %}
{% include "recipes/accordion_list.html" %}
{% else %}
<ul class="list-group">
{% for recipe in recipes|dictsort:"name" %}
    <li class="list-group-item"> <a href="{% url 'recipes:recipes_detail' recipe.id %}">{{recipe.name}}</a>
{% endfor %}
</ul>
{% endif %}
{% endblock %}