{% extends "base.html" %}
{% block right_heading %}
<form class="d-flex" role="search" method="POST" action="{% url 'recipes:ingredients_create' %}">
      {% csrf_token %}
      {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
      <input name="name" class="form-control me-2" type="text" id="id_name" required placeholder="Ingredient">
      <button class="btn btn-outline-secondary text-nowrap" type="submit">Add Ingredient</button>
</form>
{% endblock %}
{% block content %}
<h1>{{object.name}}</h1>
<div class="container px-4 text-left">
    <div class="row row-cols-4">
        {% for ingredient in object_list|dictsort:"name" %}
            <div class="col shadow-sm mb-2 p-2 col-md-3 bg-body-secondary rounded">
                <a href="{% url 'recipes:ingredients_detail' ingredient.id %}">{{ingredient.name}}</a>
                <span class="badge rounded-pill text-bg-light">{{ingredient.recipes_set.count}}</span>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}