{% extends "base.html" %}
{% block right_heading %}
<form class="d-flex" role="search" method="POST" action="{% url 'recipes:ingredients_create' %}">
      {% csrf_token %}
      {% if form.errors %}<div class="p-2 alert alert-danger" role="alert">{{form.errors}}</div>{% endif %}
      <input name="name" class="form-control me-2" type="text" id="id_name" required placeholder="Ingredient">
      <button class="btn btn-outline-secondary text-nowrap" type="submit">Add Ingredient</button>
</form>
{% endblock %}

{% block content %}
<div class="accordion" id="ingredient_accordion">
    {% for letter, alpha_ingredients in ingredient.items %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{letter}}">
                    {{letter}} - {{alpha_ingredients|length}} Ingredients
                </button>
            </h2>
            <div id="collapse_{{letter}}" class="accordion-collapse collapse" data-bs-parent="#ingredient_accordion">
                <div class="accordion-body">
                    <div class="list-group">
                        {% for ingredient in alpha_ingredients %}
                            <a class="list-group-item list-group-item-action" href="{% url 'recipes:ingredients_detail' ingredient.id %}">{{ingredient.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}