{% extends "base.html" %}
{% block right_heading %}
    <a href="{% url 'recipes:recipes_create' %}" class="btn btn-outline-secondary text-nowrap">Add Recipe</a>
{% endblock %}
{% block content %}
<h1>{{object.name}}</h1>
<div class="container px-4 text-left">
    <div class="row row-cols-6">
{% for recipe in object_list|dictsort:"name" %}
        <div class="col shadow-sm mb-2 p-2 col-md-3 bg-body-secondary rounded">
     <a href="{% url 'recipes:recipes_detail' recipe.id %}">{{recipe.name}}</a>
            </div>
{% endfor %}
    </div>
    </div>

{% endblock %}