{% extends "base.html" %}
{% block content %}
<h1>Search results for "{{search_term}}"</h1>
<ul>
    {% for author in authors %}
        <li> Author: <a href="{% url 'recipes:authors_detail' author.pk %}">{{ author }}</a>
    {% endfor %}
    {% for book in books %}
        <li> Book: <a href="{% url 'recipes:books_detail' book.pk %}">{{ book }}</a>
    {% endfor %}
    {% for recipe in recipes %}
        <li> Recipe: <a href="{% url 'recipes:recipes_detail' recipe.pk %}">{{ recipe }}</a>
    {% endfor %}
    {% for ingredient in ingredients %}
        <li> Ingredient: <a href="{% url 'recipes:ingredients_detail' ingredient.pk %}">{{ ingredient }}</a>
    {% endfor %}

</ul>
{% endblock %}